body{
    display: flex;
    align-items: center;
    justify-content: center;
}

textarea{
    display: block;
    text-align: center;
    font-size: large;
    justify-content: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}